.basket-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.basket-content {
  background: white;
  width: 750px;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.basket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left { display: flex; align-items: center; gap: 10px; }
.header-left h3 { font-size: 18px; font-weight: 500; color: #444; }

.basket-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background: #fcfcfc;
  border: 1px solid #eee;
  padding: 8px 12px;
  width: 80%;
  border-radius: 4px;
}

.search-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
}

.clear-link {
  background: none; border: none;
  color: #999; font-size: 12px;
  cursor: pointer; display: flex; align-items: center;
}

.basket-items-area {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-msg { color: #999; font-size: 14px; }

.basket-footer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.btn-place {
  background-color: #9cbdf9; 
  color: white; border: none;
  padding: 10px 30px; border-radius: 4px;
  cursor: pointer; font-weight: 500;
}

.btn-close {
  background: rgb(177, 70, 70);
  border: 1px solid #ccc;
  padding: 10px 10px; border-radius: 4px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}